.rootBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.childBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tableHeader {
  font-weight: bold !important;
}
