.rootBox {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 8px;
}

.childBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tableHeader {
  font-weight: bold !important;
}

.ul {
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .rootBox {
    flex-direction: column;
  }

  .childBox {
    width: 100%;
  }
}
